body
{
  background-color: #a6a6a6;
}

#blue
{
  fill: #44536C;
}

#purple
{
  fill: #61426C;
}

#red
{
  fill: #A37260;
}

#yellow
{
  fill: #9DA15F;
}

#score-count
{

}

#count-box
{

}

#start-game-button
{

}

#strict-mode-button
{

}

#game-on-button
{

}

#game-off-button
{

}

#strict-mode-indicator
{

}

