body
{
  background-color: #a6a6a6;
}

tspan
{
  font-family: 'Audiowide', cursive;
}

.buttons
{
  stroke: #787878;
}

#blue
{
  fill: rgba(0, 249, 255, 0.3);
}

#green
{
  fill: rgba(57, 255, 20, 0.3);
}

#red
{
  fill: rgba(255, 105, 180, 0.3);
}

#yellow
{
  fill: rgba(255, 255, 0, 0.3); 
}

#score-count
{
  font-size: 10px;
}

#score-text
{
}

#count-box
{

}

#start-game-button
{

}

#strict-mode-button
{

}

#game-on-button
{

}

#game-off-button
{

}

#strict-mode-indicator
{

}

