body
{
  background-color: #a6a6a6;
}

tspan
{
  font-family: 'Rubik', sans-serif;
}

.buttons
{
  stroke: #787878;
}

#blue
{
  fill: rgba(0, 249, 255, 0.3);
}

#green
{
  fill: rgba(57, 255, 20, 0.3);
}

#red
{
  fill: rgba(255, 105, 180, 0.3);
}

#yellow
{
  fill: rgba(255, 255, 0, 0.3); 
}

#score-count
{
  font-size: 11px;
  fill: #e8e8e8;
  font-family: 'Orbitron', sans-serif;
}

#score-text
{
}

#count-box
{
  fill: #404040;
}

#start-game-button
{
  fill: rgba(204, 0, 0, 0.6);
}

#start-game-button-press
{
  fill: rgba(204, 0, 0, 1.0);
}

#strict-mode-button
{
  fill: rgba(204, 0, 0, 0.6);
}

#strict-mode-button-press
{
  fill: rgba(204, 0, 0, 1.0);
}

#game-on-button
{
  fill: #808080
}

#game-off-button
{
  fill: #404040; 
}

#strict-mode-indicator-false
{
  fill: #404040;
}

#strict-mode-indicator-true
{
  fill: red;
}
